.local-history/
.viminfo
i3/config.save
nvim/plugin
**/.local_history/
config/btop/btop.log
config/nvim/plugin/packer_compiled.lua
config/tmux/tmux.conf
config/tmux/plugins
config/env/env.local.sh
**/__pycache__/**
.luarc.json
config/yazi/plugins/
config/yazi/flavors/
config/yazi/bookmark
config/yazi/package.toml
