.local-history/
.viminfo
i3/config.save
nvim/plugin
**/.local_history/
config/btop/btop.log
config/ranger/plugins/
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/lf/colors
config/lf/icons
config/nvim/plugin/packer_compiled.lua
config/tmux/tmux.conf
config/tmux/plugins
**/__pycache__/**
.luarc.json
